footer.bg-darkgrey

	div.container.grid.grid-cols-1.gap-12.text-white.max-w-2xl.block-colour-pad.remove-mb(class="lg:grid-cols-2 lg:gap-24 lg:place-items-center")

		div
			img(class="w-36 mb-8" src="/img/svg/sf-logo white.svg")
			p.text-sm Australian Credit Licence Number 391958 ACN 098 751 930

		div.w-full
			h3.uppercase.mb-4.text-lg Contact us
			p.text-sm.mb-4(class="lg:mb-8") 1300 661 991

			h3.uppercase.mb-4.text-lg Connect with us
			div.flex.-mx-2.justify-start(class="lg:justify-start")
				a.mx-2(href="#")
					img.w-6.h-6(src="/img/svg/Icon metro-facebook.svg")
				a.mx-2(href="#")
					img.w-6.h-6(src="/img/svg/Icon simple-instagram.svg")
				a.mx-2(href="#")
					img.w-6.h-6(src="/img/svg/Icon awesome-youtube.svg")
				a.mx-2(href="#")
					img.w-6.h-6(src="/img/svg/Icon awesome-linkedin.svg")