header.container.flex.justify-between.items-center.py-2.remove-mb

	div
		a(href="/"): img(class="w-20" alt="Safe Financial" src="/img/svg/sf-logo.svg")

	div.flex.items-center

		button(type="button" class="inline-block ml-6 transition duration-150 ease-in-out w-6 h-7 hover:text-red" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight") <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 448 512"><path d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"/></svg>

		div(class="offcanvas offcanvas-end fixed bottom-0 bg-boxgrey flex flex-col max-w-full invisible bg-clip-padding shadow-sm outline-none transition duration-300 ease-in-out top-0 right-0 border-none w-full lg:w-[36rem]" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel")

			div.offcanvas-header.px-6.py-2

				div.flex.items-center.justify-between

					a(href="/"): img(class="w-20" alt="Safe Financial" src="/img/svg/sf-logo.svg")

					a(class="btn lg:hidden inline-block mx-3" href='#') Members Login

					button(type="button" class="btn-close box-content w-5 h-7 hover:text-red focus:shadow-none focus:outline-none" data-bs-dismiss="offcanvas" aria-label="Close") <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 320 512"><path d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"/></svg>

				div.h-px.bg-linegrey.mt-4

			div.offcanvas-body.flex-grow.px-6.py-4.overflow-y-auto

				ul.grey-list
					li: a(href="#") Home
					li#detailsParent.text-red.collapsed(data-bs-toggle="collapse" data-bs-target="#detailsChild" aria-expanded="true" aria-controls="detailsChild") My Details <svg aria-hidden="true" focusable="false" class="down-arrow w-5 h-6 inline-block ml-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>
						div#detailsChild.relative.accordion-collapse.collapse(data-bs-parent="#loansItem" aria-labelledby="detailsParent")
							ul
								li: a(href="#") Personal
								li: a(href="#") Address

					li#accountParent.text-red.collapsed(data-bs-toggle="collapse" data-bs-target="#accountChild" aria-expanded="true" aria-controls="accountChild") My Account <svg aria-hidden="true" focusable="false" class="down-arrow w-5 h-6 inline-block ml-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"></path></svg>
						div#accountChild.relative.accordion-collapse.collapse(data-bs-parent="#loansItem" aria-labelledby="accountParent")
							ul
								li: a(href="#") Apply Now
								li: a(href="#") Make a Payment
					li: a(href="#") Contact us
					li: a(href="#") FAQs

				div.h-px.bg-linegrey.mt-8

				div.flex.items-center.mt-8

					ul.grey-list
						li
							a(href="#") Logout
								img.inline-block.ml-4.pb-1(src="/img/svg/Logout icon.svg")