div.container.text-center(class="lg:hidden")
	h3.text-4xl.mb-4(class="lg:mb-8") Need help?
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque rem alias placeat? Distinctio temporibus dolorem iure eum aut asperiores consequuntur illum! In, officia vel ullam rerum reiciendis deleniti ea magni!

	div.grid.grid-cols-2.gap-8.mt-12
		div.std-block.p-8
			img(class="w-24 mx-auto mb-6" src="/img/svg/Tech support.svg")
			p.text-red.font-bold.leading-tight.text-2xl Technical Support
		div.std-block.p-8
			img(class="w-24 mx-auto mb-6" src="/img/svg/Members lounge.svg")
			p.text-red.font-bold.leading-tight.text-2xl Members lounge