@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
	font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
  }
}

h1, h2, h3, h4, h5 {
	@apply font-bold;
}

a {
	@apply transition ease-in-out duration-300;
}

.body-link {
	@apply text-red hover:underline hover:text-red-dark;
}

.container{
	@apply px-4 mb-12 lg:mb-20;
}

.remove-mb {
	@apply mb-0;
}
.block-colour-pad {
	@apply py-12 lg:py-20;
}

.btn {
	@apply bg-red rounded-md text-white px-5 py-2.5 hover:bg-red-dark hover:text-white transition ease-in-out duration-300 uppercase font-bold text-sm text-center shadow-lg leading-normal;

	&.btn-round {
		@apply rounded-full;
	}

	&.btn-large {
		@apply px-12 text-lg;
	}

	&.btn-white {
		@apply bg-white text-red hover:bg-boxgrey;
	}
	&.btn-red-override {
		@apply lg:bg-red lg:text-white lg:hover:bg-red-dark lg:hover:text-white;
	}
	&.btn-disabled {
		@apply bg-linegrey text-white hover:bg-linegrey shadow-none;
	}
	&.btn-wide {
		@apply px-12;
	}
	&.btn-grey {
		@apply bg-midgrey;
	}
}

.std-block {
	@apply rounded-xl border-2 border-linegrey bg-white text-center cursor-pointer transition duration-500 ease-in-out;
	&:focus,
	&:hover {
			@apply border-red;
		}
	&.std-block-red {
		@apply border-red;
	}
}

.hero-range {
	.form-range{
		&::range-thumb {
			@apply w-6 h-6 bg-red border-0 drop-shadow rounded-full cursor-pointer;
		}
		&::range-track {
			@apply bg-linegrey h-1;
		}
		&::range-lower,
		&::range-upper {
			@apply h-8;
		}
	}
	.form-range-tt {
		@apply left-0 transform -translate-x-1/2 absolute drop-shadow;
		top: -55px;

		&::after{
			@apply absolute w-0 h-0 bottom-0 left-half;
			content: "";
			 border: 10px solid transparent;
			 border-top-color: #434956;
			 border-bottom: 0;
			 margin-left: -10px;
			 margin-bottom: -10px;
		 }
	}
}

.post-prose {
	h1, h2, h3, h4 {
		@apply mb-12;
	}
	p, h5, h6 {
		@apply mb-8;
	}
	p {
		@apply leading-relaxed;
	}
}

.main-prose {
	h1, h2, h3, h4 {
		@apply mb-8;
	}
	p, h5, h6 {
		@apply mb-4;
	}
	p {
		@apply leading-relaxed;
	}
}

.grey-list {
	@apply pl-6;

	a {
		@apply hover:text-red transition ease-in-out duration-300;
	}

	li {
		@apply uppercase font-bold text-lg py-2;
	}

	ul li {
		@apply normal-case text-darkgrey py-1;
	}

	ul {
		@apply pl-6;
	}

	.down-arrow {
		@apply rotate-180 pt-2 pb-0;
	}

	.collapsed {
		@apply text-darkgrey;

		.down-arrow {
			@apply rotate-0 pb-2 pt-0;
		}
	}
}

.check-list {
	li {
		@apply flex items-start py-2;

		img {
			@apply mr-4;
		}
	}
}

.safe-carousel {
	@apply  relative max-w-sm mx-auto my-8 py-8;

	.carousel-control-prev,
	.carousel-control-next {
		@apply absolute hidden top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 -left-20 lg:block hover:outline-none hover:no-underline focus:outline-none focus:no-underline;
	}

	.carousel-control-prev {
		@apply -left-20;
	}

	.carousel-control-next {
		@apply -right-20;
	}
	.carousel-control-next-icon,
	.carousel-control-prev-icon{
		@apply inline-block bg-no-repeat;
	}
	.carousel-control-next-icon{
		background-image: url("/img/svg/Slider Right.svg")
	}

	.carousel-control-prev-icon{
		background-image: url("/img/svg/Slider Left.svg")
	}

	.carousel-indicators {
		@apply  absolute right-0 -bottom-8 left-0 flex justify-center p-0 mb-4;

		button {
			@apply h-3 w-3 rounded-full box-border bg-transparent opacity-100 !important;
			border: 1px solid #bfbdbd !important;
			&.active {
				@apply bg-red !important;
				border: 1px solid #EF4035 !important;
			}
		}
	}

	.carousel-inner {
		@apply relative w-full overflow-hidden;
	}

	.carousel-item {
		@apply float-left w-full;

		> div {
			@apply block w-full;
		}
	}

}

.input-underline {
	@apply px-0.5 border-0 border-b-2 border-linegrey focus:ring-0 focus:border-red placeholder:text-linegrey-mid;

	&.input-red {
		@apply bg-red text-white border-white focus:border-linegrey placeholder:text-white;

	}
}

select {
	&.input-red {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNmZmZmZmYiIHZpZXdCb3g9IjAgMCAzODQgNTEyIj48cGF0aCBkPSJNMzYyLjcgMjAzLjlsLTE1OS4xIDE0NGMtNi4xMjUgNS40NjktMTUuMzEgNS40NjktMjEuNDQgMEwyMS4yOSAyMDMuOUMxNC43MyAxOTcuMSAxNC4yIDE4Ny45IDIwLjEgMTgxLjNDMjYuMzggMTc0LjQgMzYuNSAxNzQuNSA0Mi43MyAxODAuMUwxOTIgMzE0LjVsMTQ5LjMtMTM0LjRjNi41OTQtNS44NzcgMTYuNjktNS4zNjEgMjIuNjIgMS4xODhDMzY5LjggMTg3LjkgMzY5LjMgMTk3LjEgMzYyLjcgMjAzLjl6Ii8+PC9zdmc+');
	}
}

.safe-accordion {
	.accordion-header {
		@apply mb-0;
	}

	.accordion-button {
		@apply text-darkgrey font-bold py-6 px-5 text-base bg-white shadow-none text-left border-0 rounded-xl mb-4 relative flex items-center w-full transition focus:outline-none !important;

		&.collapsed {
			@apply font-normal rounded-xl drop-shadow-lg !important;
		}

		&::after {
			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9IiNFRjQwMzUiIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBkPSJNMjI0IDQxNmMtOC4xODggMC0xNi4zOC0zLjEyNS0yMi42Mi05LjM3NWwtMTkyLTE5MmMtMTIuNS0xMi41LTEyLjUtMzIuNzUgMC00NS4yNXMzMi43NS0xMi41IDQ1LjI1IDBMMjI0IDMzOC44bDE2OS40LTE2OS40YzEyLjUtMTIuNSAzMi43NS0xMi41IDQ1LjI1IDBzMTIuNSAzMi43NSAwIDQ1LjI1bC0xOTIgMTkyQzI0MC40IDQxMi45IDIzMi4yIDQxNiAyMjQgNDE2eiIvPjwvc3ZnPg==');
		}
	}
	.accordion-body {
		@apply py-4 px-5;
	}

}

.divider-grid {
	@apply relative;

	div {
		@apply relative;

		&:not(:last-child)::after {
			@apply absolute top-0 h-full -right-8 w-px bg-linegrey;
			content: "";
		}

		p {
			@apply mb-0;
		}
	}
}

.ml-title-buttons {
	@apply inline-flex;

	button {
		@apply px-6 py-2 border-y border-l border-linegrey text-xs leading-tight transition duration-150 ease-in-out hover:bg-boxgrey active:bg-boxgrey focus:outline-none focus:ring-0 last:border-r;

		&.active {
			@apply bg-boxgrey;
		}
	}
}

.safe-tabs {
	@apply flex border-b-0 mb-4 justify-center;
	li {
		@apply text-center md:w-1/3 lg:mx-2;

		a {
			@apply w-full block font-bold text-sm leading-tight uppercase border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 my-2 hover:border-transparent hover:border-red focus:border-transparent text-linegrey-mid !important;

			&.active {
				@apply border-linegrey text-darkgrey hover:border-red !important;
			}
		}
	}
}

.safe-form {
	label {
		@apply relative block;

		.icon {
			@apply absolute inset-y-0 right-0 flex items-center pr-2;

			svg {
				@apply w-4 h-4 fill-linegrey;
			}
		}

		input {
			@apply py-4 mt-0 block w-full;
		}
	}
	.form-check-input {
		@apply appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-no-repeat bg-contain bg-linegrey cursor-pointer border-none shadow-none focus:outline-none checked:bg-red ring-white !important;
	}
}

.safe-modal {
	@apply fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto;

	.modal-dialog {
		@apply relative max-w-3xl pointer-events-none;
	}

	.modal-content {
		@apply border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none;
	}

	.modal-header {
		@apply flex flex-shrink-0 items-center justify-between p-4 ;

		.btn-close {
			@apply opacity-100;

			background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiBmaWxsPSIjMzQzNDM0Ij48cGF0aCBkPSJNMzEwLjYgMzYxLjRjMTIuNSAxMi41IDEyLjUgMzIuNzUgMCA0NS4yNUMzMDQuNCA0MTIuOSAyOTYuMiA0MTYgMjg4IDQxNnMtMTYuMzgtMy4xMjUtMjIuNjItOS4zNzVMMTYwIDMwMS4zTDU0LjYzIDQwNi42QzQ4LjM4IDQxMi45IDQwLjE5IDQxNiAzMiA0MTZTMTUuNjMgNDEyLjkgOS4zNzUgNDA2LjZjLTEyLjUtMTIuNS0xMi41LTMyLjc1IDAtNDUuMjVsMTA1LjQtMTA1LjRMOS4zNzUgMTUwLjZjLTEyLjUtMTIuNS0xMi41LTMyLjc1IDAtNDUuMjVzMzIuNzUtMTIuNSA0NS4yNSAwTDE2MCAyMTAuOGwxMDUuNC0xMDUuNGMxMi41LTEyLjUgMzIuNzUtMTIuNSA0NS4yNSAwczEyLjUgMzIuNzUgMCA0NS4yNWwtMTA1LjQgMTA1LjRMMzEwLjYgMzYxLjR6Ii8+PC9zdmc+')
		}

		&.modal-title-grey {
			@apply bg-midgrey m-2 p-6;

			h5 {
				@apply text-white text-center flex-grow;
			}

			.btn-close {
				background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMjAgNTEyIiBmaWxsPSIjZmZmZmZmIj48cGF0aCBkPSJNMzEwLjYgMzYxLjRjMTIuNSAxMi41IDEyLjUgMzIuNzUgMCA0NS4yNUMzMDQuNCA0MTIuOSAyOTYuMiA0MTYgMjg4IDQxNnMtMTYuMzgtMy4xMjUtMjIuNjItOS4zNzVMMTYwIDMwMS4zTDU0LjYzIDQwNi42QzQ4LjM4IDQxMi45IDQwLjE5IDQxNiAzMiA0MTZTMTUuNjMgNDEyLjkgOS4zNzUgNDA2LjZjLTEyLjUtMTIuNS0xMi41LTMyLjc1IDAtNDUuMjVsMTA1LjQtMTA1LjRMOS4zNzUgMTUwLjZjLTEyLjUtMTIuNS0xMi41LTMyLjc1IDAtNDUuMjVzMzIuNzUtMTIuNSA0NS4yNSAwTDE2MCAyMTAuOGwxMDUuNC0xMDUuNGMxMi41LTEyLjUgMzIuNzUtMTIuNSA0NS4yNSAwczEyLjUgMzIuNzUgMCA0NS4yNWwtMTA1LjQgMTA1LjRMMzEwLjYgMzYxLjR6Ii8+PC9zdmc+')
			}
		}
	}

	.modal-h {
		@apply text-xl font-medium leading-normal
	}

	.btn-close {
		@apply  box-content w-4 h-4 p-1 border-none rounded-none opacity-50 focus:shadow-none focus:outline-none focus:opacity-100 hover:text-red hover:opacity-75 hover:no-underline;
	}

	.modal-body {
		@apply relative p-12;
	}

	.modal-footer {
		@apply flex flex-shrink-0 flex-wrap items-center justify-end p-4 border-t border-linegrey rounded-b-md;
	}

	.modal-foot-btn {
		@apply inline-block px-6 bg-boxgrey text-white font-medium text-xs leading-tight uppercase rounded shadow-md transition duration-150 ease-in-out py-2.5 hover:bg-boxgrey-dark hover:shadow-lg focus:bg-boxgrey-dark focus:shadow-lg focus:outline-none focus:ring-0 active:bg-boxgrey-dark active:shadow-lg;
	}
}

.safe-blog-list {
	@apply grid gap-8 text-center lg:text-left lg:grid-cols-2 lg:place-content-stretch;

	img {
		@apply object-cover max-h-60 w-full rounded-xl shadow lg:h-full lg:max-h-full;
	}

	h3{
		@apply text-3xl mb-4 lg:text-xl;
	}
}

.checklist-item {
	@apply border-t border-linegrey py-8 flex items-start;
	img {
		@apply mr-4 pt-1;
	}
}