<footer class="bg-darkgrey">
    <div
      class="block-colour-pad remove-mb container grid max-w-2xl grid-cols-1 gap-12 text-white lg:grid-cols-2 lg:place-items-center lg:gap-24"
    >
      <div>
        <img class="mb-8 w-36" src="/assets/img/svg/sf-logo white.svg" />
        <p class="text-sm">
          Australian Credit Licence Number 391958 ACN 098 751 930
        </p>
      </div>
      <div class="w-full">
        <h3 class="mb-4 text-lg uppercase">Contact us</h3>
        <p class="mb-4 text-sm lg:mb-8">1300 661 991</p>
        <h3 class="mb-4 text-lg uppercase">Connect with us</h3>
        <div class="-mx-2 flex justify-start lg:justify-start">
          <a class="mx-2" href="#">
            <img class="h-6 w-6" src="/assets/img/svg/Icon metro-facebook.svg" />
          </a>
          <a class="mx-2" href="#">
            <img class="h-6 w-6" src="/assets/img/svg/Icon simple-instagram.svg" />
          </a>
          <a class="mx-2" href="#">
            <img class="h-6 w-6" src="/assets/img/svg/Icon awesome-youtube.svg" />
          </a>
          <a class="mx-2" href="#">
            <img class="h-6 w-6" src="/assets/img/svg/Icon awesome-linkedin.svg" />
          </a>
        </div>
      </div>
    </div>
  </footer>
